---
---

{% for course in site.courses %}
<div class="col mb-4">
  <div class="border border-5 rounded rounded-5 overflow-hidden">
    <img src="assets/courses/{{ course.slug }}.png" class="img-fluid" alt="...">
    <div class="p-2">
      <h3 class="fs-5 font-logo text-purple">{{ course.title }}</h3>
      <p>Price: {{ course.price }}</p>
      <ul class="list-group">
        {% assign required-courses = course.required-courses | sample: course.required-courses.size %}
        {% for required-course in required-courses %}
        <li class="list-group-item">
          <button type="button" class="btn btn-outline-primary float-end"><i class="bi bi-cart-plus"></i></button>
          <a href="#" class="stretched-link">
            {{ required-course }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}